<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
  {%extends 'base.html'%}
  {%block content%}

  <ul class="list-group">

    {% for user in users %}
    {% if (current_user.is_authenticated and user.id != current_user.id) %}
    <li class="list-group-item">{{user.username}}</li>
    {% if not user.following %}
    <a class="btn btn-primary" href="{{url_for('followUser', user_id = user.id)}}">Follow</a>
    {%else%}
    <a class="btn btn-danger" href="{{url_for('unfollowUser', user_id = user.id)}}">Unfollow</a>
    {%endif%}
    {%endif%}

    {%endfor%}
  </ul>

  {%endblock%}
</body>

</html>