<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HOME PAGE</h1>

    {{my_text}}
    <!-- Using variable, use double curly braces -->
    <!-- Only works with flask which is using jinja -->

    <ul>
        {% for person in people %}
        <!-- for using expressions -->
            {% if person == 'Brandt' %}
            <li>
                <strong>
                {{ person }}
                </strong>
            </li>
            {% else %}
            <li>
                {{person}}
            </li>
            {% endif %}
        {% endfor %}
        <!-- Tells the for loop to end -->
    </ul>

</body>
</html>