{%extends 'base.html'%}
{%block content%}

<h1>SIGN UP PAGE</h1>
<form method="POST" class="container col-2">
    {{ form.hidden_tag() }} 
<!-- CSRF TOKEN - SECRET KEY - MUST ADD EVERYTIME -->
    {{ form.username(class='form-control', placeholder = 'Username') }}
    {{ form.email(class='form-control', placeholder = 'Email') }}
    {{ form.password(class='form-control', placeholder = 'Password') }}
    {{ form.confirm_password(class='form-control', placeholder = 'Confirm Password') }}
    {{ form.submit(class='btn btn-primary') }}
</form>
{%endblock%}